*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727;
}
main{
    display: flex;
    flex-direction: row;
}
h1{
    margin: 2rem;
    padding: 2rem;
    background-color: #222222;
    border-radius: 15px;
    color: darkorange;
    box-shadow: 0 0 12px 0 black;
    transition: 0.4s;
}
.card{
    padding: 2rem;
    margin: 2rem;
    background-color: #222222;
    border-radius: 25%;
    width: 16rem;
    height: 16rem;
    box-shadow: 0 0 12px 0 black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
button{
    background-color: darkorange;
    color: #222222;
    width: 8rem;
    height: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 black;
    margin: 2rem;
    transition: 0.4s;
}
button:hover{
    height: 3.3rem;
    width: 8.3rem;
    box-shadow: 0 0 12px 0 darkorange;
}
h1:hover{
    box-shadow: 0 0 12px 0 darkorange;
}
img{
    width: 4rem;
    height: 4rem;
    border-radius: 20px;
}
.portifolio{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}
.card:hover{
    box-shadow: 0 0 12px 0 darkorange;
}